body {
    background-image: url(https://w-dog.ru/wallpapers/12/12/445859244874137/abstraktnye-matrica-binarnyj.jpg);
    position: absolute;
    top: 30%;
	left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    color: rgb(3, 20, 114);
}

#generation.btn.btn-success {
    margin-right: 20px;
}

#clear.btn.btn-danger {
    margin-left: 20px;
}